*{
	font-family: 'Raleway', sans-serif;
	
}
#splash *{
	color: #C4F1BE;
}
h1{
	font-family: 'Marck Script', cursive !important;
	font-size: 6em;
	line-height:10%;
	color: white !important;
}
#splash center{
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}
button{
	background-color:#525B76;
	color:white;
	padding: 15px;
	font-size: 20px;
	text-transform: capitalize;
	border: white 2px solid;
}
button:last-child{
	background-color: #869d96;
}
#splash{
	width: 100%;
	height: calc(100vh - 70px);
	background-image: url(images/blue_square.JPG) !important;
	background-color:rgba(81,  90,  118, 0.87);
	background-size:cover;
	color: rgba(255, 255, 255, 0.81);
	margin: 0px;
	padding: 0px;
}
#navbar{
	background-color: #C4F1BE;
	height: 70px;
}
#navbar p{
	display:inline;
	margin: 20px;
	font-size: 1.25em;
	line-height: 3.5em;
	color: #525B76;
}
#important{
	color: #869d96;
	font-weight: 800;
}
.links{
	display:inline;
}
#right{
	float:right;
}
#about{
	background-color: white;
	color: #525B76;
	text-align: center;
}
#about a{
	color: #869d96;
	font-weight: 800;
}
#about center{
	padding:20px 50px;
}
#circleDetails{
    display:inline-block; 
    margin: 20px;
}
#circleDetails div{
	float:left;
}
#circleDetails img{
	/*border-radius:500px;
	margin-left: 30px;*/
	max-width:400px;
}
ul{
	list-style-type: none;
}
ul:first-child{
	margin-top: 40px;
}
ul li{
	margin-bottom: 30px;
}
ul li span{
	display:block;
	line-height: 1em;
}
#leftList li{
	text-align: right;
}
#rightList li {
	text-align: left;
}
#traditional{
	background-color: #869d96;
	color: white;
	display:inline-block;
}
#traditional div{
	float:left;
	padding: 0px 50px;
	max-width:calc(50% - 100px);
}
#traditional img{
	max-width: 300px;
	border-radius: 500px;
	border: white 7px solid;
}
#traditional center{
	padding:20px 50px;
}
#traditional h3{
	color: #C4F1BE;
}
#digital{
	background-color: #525B76;
	color: #C4F1BE;
}
#digital center{
	padding:20px 50px;
}
#contact{
	background-color: #C4F1BE;
	color: #869d96;
}
#contact center{
	padding: 20px 50px;
}
